<nav class="navbar navbar-expand navbar-dark bg-dark pr-2">
    <div class="side-nav-button pr-2 me-3 text-light" (click)="SideNavToggled()" style="padding-left: 1%;">
        <i class="fa-solid fa-bars"></i>
    </div>
    
    <a class="navbar-brand px-4" href="#">Desk Management System</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown">
                Menu 1</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child 1</a></li>
                    <li><a class="dropdown-item" href="#">Child 2</a></li>
                    <li><a class="dropdown-item" href="#">Child 3</a></li>
                </ul>
                
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown">
                Menu 2</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child 1</a></li>
                    <li><a class="dropdown-item" href="#">Child 2</a></li>
                    <li><a class="dropdown-item" href="#">Child 3</a></li>
                </ul>
                
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown">
                Menu 3</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child 1</a></li>
                    <li><a class="dropdown-item" href="#">Child 2</a></li>
                    <li><a class="dropdown-item" href="#">Child 3</a></li>
                </ul>
                
            </li>
        </ul>
    </div>


    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Aishwarya
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Sign Up</a></li>
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Your Profile</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>

        </ul>
    </div>
</nav>
