
<div class="instructions">
  <h2>Instructions for Online Test</h2>
  <p>Please read the instructions carefully before starting the test.</p>
  <ol>
    <li>Click start on bottom of your screen to begin the test.</li>
    <li>Click one of the answer, simply click the desired option button.</li>
    <li>Candidate will be allowed to Shuffle between questions anytime duing the examination as per their convenience.</li>
    <li>All the answered questions will be counted for calculating the final score.</li>
    <li>Do not click final SUBMIT on the left corner of the screen nless you have completed the exam.In case you click final SUBMIT you will not be permitted to continue.</li>
    <li>Score obtained will be displayed immediately after the test.</li>
   
  </ol>
  <div>
    <select>
      <option value="english">English</option>
      <option value="english">Hindi</option>
      <!-- Add other languages here -->
    </select>
    <input type="checkbox" id="confirm" name="confirm">
    <label for="confirm">I have read and understood the instructions. All computer hardware assigned to me are in proper working condition. I declare that I am not in possession of / not wearing / not carrying any prohibited gadget like mobile phone, bluetooth devices etc. /any prohibited material with me into the Examination Hall. I agree to abide by the instructions given by the Test Administrators and the invigilators. I am aware that in case I do not adhere to these instructions, it would lead to cancellation of my candidature.</label><br>
    <button type="button">Start Test</button>
  </div>
</div>
