
<router-outlet></router-outlet>




























<!-- <div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-sidenav1></app-sidenav1>

    <div class="display-area p-3">
      <p class="fs-1 fw-bold fst-italic">Main Display Area</p>
    </div>
  </main>
</div> -->

















<!-- <nav class="navbar navbar-dark bg-primary">
  <div class="logo" style="max-height: 100px;max-width: 80px;">
    <img src="assets/Images/getsitelogo.png" alt="NCS Logo">
    
  </div>
  <span style="font-size: 1.5rem;font-weight: bold;">Need a Seat ?   &nbsp;| &nbsp; You are at the right place</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>

<div id="page-content-wrapper">  
  <router-outlet></router-outlet>
</div> -->