<div class="instructions-container">
    <h2>Exam Instructions</h2>
    <p>Welcome to the exam! Please read the following instructions carefully before starting the exam:</p>
    <ol>
      <li>Ensure that you are in a quiet environment with no distractions.</li>
      <li>Read each question carefully and thoroughly before answering.</li>
      <li>Do not refresh the page or navigate away from the exam page during the exam.</li>
      <li>Keep track of the time remaining for the exam.</li>
      <li>Submit your answers before the time runs out.</li>
      
    </ol>
    <button class="btn btn-primary" (click)="startExam()">Start Exam</button>
  </div>

   <!-- <table>
    <tr><td style="background-color: red;">Not answered/Not Attempted Question</td></tr>
    <tr><td style="background-color: white;">Not Visited</td></tr>
    <tr><td style="background-color: red;">Not answered/Not Attempted Question</td></tr>
    <tr><td style="background-color: white;">Not Visited</td></tr>
    <tr><td style="background-color: red;">Not answered/Not Attempted Question</td></tr>
    <tr><td style="background-color: white;">Not Visited</td></tr>
    <tr><td style="background-color: red;">Not answered/Not Attempted Question</td></tr>
    <tr><td style="background-color: white;">Not Visited</td></tr>
    <tr><td style="background-color: red;">Not answered/Not Attempted Question</td></tr>
    <tr><td style="background-color: white;">Not Visited</td></tr>
  </table> -->
  
